
# VS code
.vscode/c_cpp_properties.json

# cmake
build/Makefile
build/*.json
build/*.cmake
build/.cmake/
build/CMakeFiles/
build/CMakeCache.txt
local_config.cmake

# built files
build/*.exe

# libraries
dependancies/libraries
build/Shader_Libs-prefix

#files i don't want to throw away
trash_bin/