
# VS code
.vscode/c_cpp_properties.json

# cmake
build/Makefile
build/*.json
build/*.cmake
build/.cmake/
build/CMakeFiles/
build/CMakeCache.txt

# built files
build/*.exe

# libraries
dependancies/libraries

#files i don't want to throw away
trash_bin/